body{
    font:14px verdana;
}
small{
    color:#ccc
}
h1{
    text-transform: capitalize;
    font-size: 16px;
    margin:0px 0px 2px;
}
.details{
    border:2px solid #ccc;
    border-radius: 10px;
    margin:10px;
    background-color: #fff;
    color:#000;
    padding:5px 10px 10px;
}
p::first-letter{
    text-transform: capitalize;
}
form div, div{
    margin:10px 0px;
}
textarea{
    resize: none;
}
input:disabled{
    background-color: lightgray;
}
p{
    padding: 0px;
}
a{
    font:12px verdana;
    
}
.del{
    background-color: transparent;
    border:0px;
    font:12px verdana;
    color:blue;
    text-decoration: underline;
    cursor:pointer
}
.delete{
background-color: rgba(180, 196, 246, 0.507);
border:2px solid lightskyblue;
font-size: 14px;
border-radius: 5px;
padding:10px;
cursor: pointer;
}
.edit{
    margin:0px 14px 0px;
}