<form (ngSubmit)="addSubmit()" #addIng="ngForm">
  <div class="row">
    <div class="col-sm-7">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          required
        />
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="number"
          class="form-control"
          id="amount"
          name="amount"
          ngModel
          required
          pattern="^[1-9]+[1-9]*$"
        />
      </div>
    </div>
    <!-- <div class="col-sm-7">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" #nameInput>
              </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" #amountInput>
              </div>
        </div> -->
    <div class="col-sm-12 mb-4">
      <button class="btn btn-primary" [disabled]="!addIng.valid">{{editMode? 'Update': 'Add'}}</button>
      <button class="btn btn-warning ml-2" *ngIf="editMode" type="button" (click)="onDelete()">Delete</button>
      <button class="btn btn-info ml-2" type="button" (click)="clear()">Clear</button>
    </div>
  </div>
</form>
